<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <!-- This should be the page most of the API calls happen -->
    
    <h1>Dashboard</h1>


    <!-- Capitalize the First Letter of Their Name -->
    <!-- <h2>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h2> -->

    <!-- List of radios I can select in order to choose which API call I want to make -->

    <div id="API-calls">
        <input type="radio" name="candContrib">
        <label for="candContrib">candContrib</label>

        <input type="radio" name="candIndByInd">
        <label for="candIndByInd">candIndByInd</label>

        <input type="radio" name="candIndustry">
        <label for="candIndustry">candIndustry</label>

        <input type="radio" name="candSector">
        <label for="candSector">candSector</label>

        <input type="radio" name="candSummary">
        <label for="candSummary">candSummary</label>

        <input type="radio" name="congCmteIndus">
        <label for="congCmteIndus">congCmteIndus</label>

        <input type="radio" name="getLegislators">
        <label for="getLegislators">Look at All Legislators!</label>

        <input type="radio" name="getOrgs">
        <label for="getOrgs">getOrgs</label>

        <input type="radio" name="independentExpend">
        <label for="independentExpend">Look at Congress's Last 50 Expenditures!</label>

        <input type="radio" name="memPFDprofile">
        <label for="memPFDprofile">memPFDprofile</label>

        <input type="radio" name="orgSummary">
        <label for="orgSummary">orgSummary</label>

    </div>

    <!-- GOALS: -->
    <!-- 1. After creating a user, sign in and land on /users/dashboard -->
    <!-- 2. Choose which API call you wish to implement from a series of radios -->
    <!-- 3. Enter in the name of the desired person -->
    <!-- 4. Hit submit and have the API call go out, returning a GUI table with all requested data -->



    <a href="/users/logout">Logout</a>
</body>
</html>