<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    
    <h1>INDEX</h1>
<<<<<<< HEAD:views/index.ejs
    <a href="/users/login">Login</a>

=======

    <a href="users/login">Login</a>
>>>>>>> 3a1859f9129e6385f7359eb3e0b439b59259da50:views/_index.ejs

</body>
</html>